<ion-header>
  <ion-toolbar>
    <ion-title>管理员界面</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <a routerLink="./users" routerLinkActive="active"><ion-tab-button tab="users">
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button></a>

    <a routerLink="./words" routerLinkActive="active"><ion-tab-button tab="words">
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button></a>
  </ion-tab-bar>
</ion-tabs>
