<Navbar [leftContent]="'返回'" (onLeftClick)="onLeftClick()">注册</Navbar>
<ion-content>

  <WhiteSpace ></WhiteSpace>
  <WhiteSpace ></WhiteSpace>
  <InputItem [placeholder]="" [(ngModel)]="username">
    <span>邮箱</span>
  </InputItem>
  <InputItem [placeholder]="''" [(ngModel)]="nickname">
    <span>昵称</span>
  </InputItem>
  <ListItem
          Picker
          [extra]="gender"
          [arrow]="'horizontal'"
          [data]="singleArea"
          [(ngModel)]="gender"
          (ngModelChange)="onOk3($event)"
  >
    性别
  </ListItem>

  <InputItem [placeholder]="" [(ngModel)]="password">
    <span>密码</span>
  </InputItem>
  <WhiteSpace ></WhiteSpace>
  <WhiteSpace ></WhiteSpace>
  <div Button (onClick)="register()">注册</div>
</ion-content>
