<ion-header>
  <ion-toolbar>
    <a routerLink=""><ion-icon name="arrow-back"></ion-icon><ion-title>注册</ion-title></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <ion-item><input
            name="username"
            required
            ngModel
            placeholder="邮箱(此邮箱将作为你的登录账号)"
            type="text"
            (focusout)="isValid(registerForm)"></ion-item>
    <ion-item><input
            placeholder="密码"
            ngModel
            required
            name="password"
            type="password"
            (focusout)="isValid(registerForm)"></ion-item>
    <ion-item><input
            name="nickname"
            required
            ngModel
            placeholder="昵称"
            type="text"
            (focusout)="isValid(registerForm)"
    ></ion-item>
    <ion-button color="primary" type="submit" expand="full" [disabled]="!valid">注册</ion-button>
  </form>
</ion-content>
